@page
@model FoodTypes.EditModel
@{
    ViewData["Title"] = "Edit Food Type";
}

<form method="post">
    <input asp-for="FoodType.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-default pl-3">Edit Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="FoodType.Name"></label>
            <input asp-for="FoodType.Name" class="form-control" />
            <span asp-validation-for="FoodType.Name" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
        <a class="btn btn-dark" asp-page="Index">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}