@page
@model Categories.IndexModel
@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-dark">
                <i class="bi bi-plus-square-fill"></i> Create New Category
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Categories.Any())
    {
        <table class="table table-bordered table-striped" width="100%">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Display Order</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.DisplayOrder</td>
                        <td>
                            <div class="w-75 btn-group">
                                <a asp-page="Edit" class="btn btn-primary" asp-route-id="@category.Id">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a asp-page="Delete" class="btn btn-danger" asp-route-id="@category.Id">
                                    <i class="bi bi-eraser-fill"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-dark" role="alert">
            Hmmm there is no Categories at all!!
        </div>
    }
</div>